<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/header %>
  </head>
  <body>
    <% include ./partials/navigation %>

    <!--
    ==========================================
    Main content goes here ===================
    ==========================================
    -->

    <div class="container">
      <div class="jumbo-pad">
        <div class="left">
          <h1 class="hero-unit">RightMeow</h1>
          <p>Introducing RightMeow boxes!</p>
          <% if(!user) { %>
            <a class="btn btn-primary" href="/login">Login&nbsp;&raquo;</a>
            <a class="btn btn-success" href="/signup">Sign Up&nbsp;&raquo;</a>
          <% } %>
          <% if(user) { %>
            <a class="btn btn-primary" href="/profile">Profile&nbsp;&raquo;</a>
            <a class="btn btn-danger" href="/logout">Logout&nbsp;&raquo;</a>
          <% } %>
        </div>
        <div class="right">
          <img src="/images/rightmeow.png" alt="RightMeow" />
        </div>
      </div>
    </div>
    <br />
    <br />

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <img src="/images/cat_normal.png" alt="Cat Normal" class="col-img" />
          <div class="centered">
            <h3>waiting on the rm box!</h3>
          </div>
        </div>

        <div class="col-xs-12 col-md-4">
          <img src="/images/cat_curious.png" alt="Cat Curious" class="col-img" />
          <div class="centered">
            <h3>what's in the rm box?</h3>
          </div>
        </div>

        <div class="col-xs-12 col-md-4">
          <img src="/images/cat_happy.png" alt="Cat Happy" class="col-img" />
          <div class="centered">
            <h3>kitty like!</h3>
          </div>
        </div>

      </div>
    </div>

    <div class="container faq">
      <h2>What to expect:</h2>
      <ul>
        <li>The box may be sprayed with a 'cat-nip' formula to keep the cat interested and playing with the box these goodies come in.</li>
        <li>Boxes include 3-5 items including toys, treats, and other cat goods. We strive to make sure every box is delivered quickly and really improves play time with your cat.</li>
        <li>RightMeow.com ships products from Phoenix Arizona via USPS first class mail. Depending on your location the box may arrive anytime between the 3 to 5 days after the box has been shipped.</li>
      </ul>
    </div>

    <div class="container-fluid centered dark">
      <h4>Brands we have selected for our RightMoew boxes:</h4>
      <div class="brands">
        <img class="col-img" src="/images/kong.png" />
      </div>
      <h4>We are adding new toys, treats, and brands daily! Sign up to get your RM box now!</h4>
    </div>
    <!--
    ==========================================
    Main content ends here ===================
    ==========================================
    -->

    <% include ./partials/footer %>
  </body>
</html>
